@page
@model MatchMaker.Areas.MM.Pages.IndexModel
@{
    ViewData["Title"] = "***Rankings***";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <table id="players" class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Stimmen bekommen</th>
            <th scope="col">Stimmen abgegeben</th>
            <th scope="col">Ranking ( 1 - 10 )</th>
            <th>Status</th>
        </tr>
        @foreach (var user in this.Model.Users)
        {
            <tr id="userRow_@user.Id" scope="row">
                <td>
                    <div class="form-check">
                        <input class="form-check-input selectBox" onchange="selectChanged()" id="userCheckbox_@user.Id" type="checkbox" user-id="@user.Id" value="">
                        <label class="form-check-label">
                            @user.Name
                            @if (user.IsTrusted)
                            {
                                <img src="~/img/success.svg" class="icon" />
                            }
                            else
                            {
                                <img src="~/img/error.svg" class="icon" />
                            }
                        </label>
                    </div>
                <td style="width:50px;" class="votesReceived">@user.VotesReceived</td>
                <td style="width:50px;" class="votesGiven">@user.VotesGiven</td>
                <td style="width:200px;" id="givenRankingTd_@user.Id">

                    @if (user.Id == Model.CurrentUser.Id)
                    {
                        
                    }
                    else
                    {
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="givenRanking_@user.Id" class="sliderValue">
                                    @user.YourGivenRanking
                                </label>
                                <input style="padding-left:10px;" type="range" id="givenRanking_@user.Id" min="0" max="10" oninput="UpdateSliderValue(this)"
                                       lastval="@user.YourGivenRanking" class="userRanking form-control"
                                       user-id="@user.Id" value="@user.YourGivenRanking" />
                            </div>
                        </form>
                    }

                </td>
                <td style="width:50px;" class="status">Gespeichert</td>
            </tr>
        }
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="deviation">Erlaubte Abweichung: </label><input id="deviation" oninput="UpdateSliderValue(this)" type="range" min="0.05" max="1" step="0.05" value="0.1" class="form-control-range" />
        <div class="sliderValue">0.1</div>

    </div>
    <div class="col-md-8">
        <button onclick="makeMatch()" id="makeMatchButton" class="btn btn-primary" disabled>Make Match</button>
    </div>
</div>
<div>
    <pre id="teamsContainer"></pre>
</div>

@section Scripts {
    <script type="text/javascript">
        var pendingUpdates = {};
        $(document).ready(function () {

            var currentUserRow = $($("#userRow_@this.Model.CurrentUser.Id"));
            currentUserRow.find('input.userRanking').attr("disabled", true);

            $(".userRanking").change(function (eventData) {
                var el = $(eventData.target);
                var userId = el.attr("user-id");
                clearTimeout(pendingUpdates[userId]);
                pendingUpdates[userId] = setTimeout(function() {
                    var el = $(eventData.target);

                    var parentRow = el.closest("tr");
                    parentRow.css("background-color", "#FFCC00");
                    var userId = el.attr("user-id");
                    var ranking = $(el).val();

                    $("#givenRankingLabel_" + userId).text(ranking);

                    var lastRanking = $(el).attr("lastval");
                    var userRow = $($("#userRow_" + userId));

                    if (lastRanking != ranking && ranking != "") {
                        if (ranking < 0 || ranking > 10 || !isInteger(ranking)) {
                            userRow.find(".status").text("Ranking muss ganzzahlig zwischen 0 und 10 sein.");
                        } else {
                            userRow.find(".status").text("Speichere...");
                             currentUserRow.find(".status").text("Speichere...");
                            $.ajax({
                                type: 'post',
                                url: '/api/Voting',
                                data: {
                                    userId: userId,
                                    ranking: ranking
                                },
                                headers: {
                                    RequestVerificationToken:
                                        $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function (response) {
                                    userRow.find(".isTrusted").text(response.votedUser.isTrusted);
                                    userRow.find(".votesReceived").text(response.votedUser.votesReceived);
                                    userRow.find(".votesGiven").text(response.votedUser.votesGiven);
                                    userRow.find(".userRanking").val(response.votedUser.yourGivenRanking);
                                    userRow.find(".status").text("Gespeichert");
                                    userRow.find(".userRanking").attr("lastval", response.votedUser.yourGivenRanking);
                                    UpdateSliderValue(userRow.find(".userRanking"));

                                    currentUserRow.find(".isTrusted").text(response.votingUser.isTrusted);
                                    currentUserRow.find(".votesReceived").text(response.votingUser.votesReceived);
                                    currentUserRow.find(".votesGiven").text(response.votingUser.votesGiven);
                                    currentUserRow.find(".userRanking").text(response.votingUser.calculatedRanking);
                                    currentUserRow.find(".status").text("Gespeichert");

                                    if (response.votedUser.yourGivenRanking > 0) {
                                        parentRow.css("background-color", "#d3ffd1");
                                    }
                                    else {
                                        parentRow.css("background-color", "#999999");
                                    }
                                },
                                error: function (data) {
                                    userRow.find(".status").text("Fehler beim Speichern.");

                                }
                            });
                        }
                    }
                  }, 50);

            });
        });
        // https://stackoverflow.com/questions/18296850/click-table-rows-to-select-checkbox-using-jquery
        $('#players tr').click(function (event) {
            if (event.target.type !== 'checkbox' && event.target.type != "text" && event.target.type != "range") {
              $(':checkbox', this).trigger('click');
            }
          });

        function UpdateSliderValue(el) {

            var val = el.value;
            $(el).closest("td").find(".sliderValue").text(val);
        }

        function selectChanged() {
            var selected = $("input.selectBox:checked").length;
            if (selected > 5) {
                $("#makeMatchButton").removeAttr("disabled");
            } else {
                $("#makeMatchButton").attr("disabled", true);
            }
        }

        function makeMatch() {
            var userSelects = $("input.selectBox:checked");
            var users = [];
            $(userSelects).each(function () {
                users.push($(this).attr("user-id"));
            });
            var deviation = $('#deviation').val().replace(",", ".");
            if (deviation == "") deviation = 0.05;
            $.ajax({
                type: 'post',
                url: '/api/MatchMaking',
                data: {
                    userIds: users,
                    deviation: deviation
                },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    var txt = "";

                    $(response).each(function ()
                    {
                        txt += "--------------------------------------------------------------------------\r\n";
                        txt += "Team " + this.name + ": " + this.ranking;
                        txt += "\r\n";
                        $(this.users).each(function () {
                            txt += this.name;
                            txt += "\r\n";
                        });
                        txt += "\r\n";
                    });
                    $("#teamsContainer").text(txt);
                },
                error: function (data) {
                    userRow.find(".status").text("Fehler beim Match generieren.");

                }
            });
        }

        // https://stackoverflow.com/questions/10270648/determine-if-javascript-value-is-an-integer
        function isInteger(ranking) {
            return Math.floor(ranking) == ranking && $.isNumeric(ranking);
        }

        $('#PlusButton').on('click', function () {
    var input = $('#deviation');
    input.val(parseFloat(input.val()) + 0.05);
        })
        $('#deviation').on('click', function () {
    var input = $('#BoqTextBox');
    input.val(parseFloat(input.val()) - 0.05);
})

    </script>
}